.footer-link a {
    text-decoration: none;
    font-size: 15px;
    color: gray;
    font-weight: 300;
    line-height: 10px;
}

.footer-color {
    background: black;
}

.copyright {
    background-color: #684cfa;
}

.dropdown-menu.show {
    left: -126px;
    padding: 11px;
}

.footer-link a:hover {
    text-decoration: none;
    font-size: 15px;
    color: #fe5915;
    font-weight: 300;
    line-height: 10px;
}

.footer-background {
    background-image: url("../../assets/Footer_BG.jpg");
    background-repeat: no-repeat;
    width: 98vw;
    height: 98vh;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
}

.pay-img {
    height: 120px;
    width: 220px;
}

.footer-padding {
    padding-bottom: 500px;
}